<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>

<body>
    <header>
        <div id="header">
            <h1>
                <center><b><br>Edward Deakin</b></center>
            </h1>
            <p3>
                <center>JavaScript Developer</center>
            </p3>
            <a href="EdwardDeakin.pdf">
                <center><b><br><button type="button" class="btn btn-secondary"><i
                                class="bi bi-file-earmark-arrow-down-fill"></i> Download CV (PDF)</button></b></center>
            </a>
            <h1><br></h1>
        </div>
    </header>
    <main>
        <div id="aboutme">
            <h2>
                <center><b><br>About Me</b></center>
            </h2>
            <p2>
                <center>Hello! My name is Edward Deakin and I am JavaScript developer.<br>I live in England and I am 15
                    years old.<br>I have loved technology ever since I was 2, and it is my passion.<br>I really
                    appreciate you visiting my portifolio, I hope you have a good day!</center>
            </p2>
        </div>
        <div id="education">
            <h2><br>
                <center><b>Education</b></center>
            </h2>
            <p2>
                <center>
                    <li><i class="bi bi-pen"></i> Year 10</li>
                    <li><i class="bi bi-envelope-paper"></i> Taking 8 GCSEs with estimated grades of 5+<br>Including
                        GCSE OCR Computer Science estimated at 7</li>
                    <li><i class="bi bi-braces-asterisk"></i> Taking GCSE OCR Computer Science (aiming for a 9,
                        estimated grade is a 7)</li>
                    <li><i class="bi bi-github"></i> Github Global Campus Student</li>
                </center>
            </p2>
        </div>
        <div id="skills">
            <h2><br>
                <center><b>Skills</b></center>
            </h2>
            <p2>
                <center>
                    <li><i class="bi bi-filetype-js"></i> 1-2 Years of Experience in JavaScript</li>
                    <li><i class="bi bi-filetype-py"></i> Intermediate Experience with Python</li>
                    <li><i class="bi bi-discord"></i> Extremely fluent in the Discord.JS library</li>
                    <li><i class="bi bi-ubuntu"></i> Familiar with Ubuntu (Linux) infrastructure</li>
                </center>
            </p2>
        </div>
        <div id="projects">
            <center>
                <h2><br><b>Projects</b></h2>
                <h3><br><b>Simply Greenville</b></h3>
                <div class="container">
                    <img src="simplygreenville.png" alt="Simply Greenville" style="width:80px">
                    <p2>I am currently their Head Bot Developer, developing their Discord and Discord to ROBLOX
                        interactions. I am also managing the server infrastructure for these services.</p2>
                </div>
                <h3><br><b>Exilya (Inactive)</b></h3>
                <div class="container">
                    <img src="exilya.png" alt="Exilya" style="width:80px">
                    <p2>I was the CEO of Exilya, the aim of Exilya was to create a helpful code support hub based around
                        the Discord.JS library. It sadly closed because it was inactive and the server costs made it
                        uneconomical.</p2>
                </div>
                <h3><br><b>Exilya Studesh (Inactive)</b></h3>
                <div class="container">
                    <img src="exilyastudesh.png" alt="Exilya Studesh" style="width:80px">
                    <p2>Exilya Studesh was a branch of Exilya based off a handed down Revision platform, it had to be
                        closed because it also cost too much to run.</p2>
                </div>
            </center>
        </div>
        <div id="testimonials">
            <center>
                <h2><br><b>Testimonials</b></h2>
                <h3><br><b>Harry Conor Lucas (Co-Founder at Phasio)</b></h3>
                <div class="container">
                    <img src="harryconorlucas.png" alt="Harry Conor Lucas" style="width:80px">
                    <p2>[Awaiting Testimonial]</p2>
                </div>
                <h3><br><b>Aleš Rechtorík (Product Owner at Zerops.IO)</b></h3>
                <div class="container">
                    <img src="alešrechtorík.png" alt="Aleš Rechtorík" style="width:80px">
                    <p2>"Edward has demonstrated a great general knowledge about programming, good common sense, as well
                        as ability to create applications beyond something I'd expect from someone of his age. I highly
                        recommend him for apprenticeship / summer job as I feel he'll be a valuable addition to any
                        team."</p2>
                </div>
                <h3><br><b>Ruben Cranmer (Founder of Simply Greenville)</b></h3>
                <div class="container">
                    <img src="profilepic.png" alt="Aleš Rechtorík" style="width:80px">
                    <p2>"I highly recommend Edward Deakin for any coding related jobs. He is a hard worker who never misses a deadline and gets jobs done quickly. He is also very professional, communicates instantly and is extremely helpful. I am thoroughly impressed with him and he has become an essential part of my server. Thank you, Edward, for your dedication to customer satisfaction."</p2>
                </div>
            </center>
        </div>
    </main>
    <footer>
        <div id="footer">
            <center>
                <p3><b><i class="bi bi-github"></i> This website is open-source and the repository is open at the link
                        <a href="https://github.com/TheCrazyCatKidz/Portfolio">here<br></a></p3></b>
            </center>
        </div>
    </footer>
</body>

</html>